<h3>Score</h3>

<h1>"<%= @result[:message] %>"</h1>

<h3>Grids : <%= @grid %></h3>
<h3>Your word : <%= @query %></h3>
<h3>Time taken : <%= @result[:time] %></h3>
<h3>Your score : <%= @result[:score] %></h3>
